﻿@model odiProject.ViewModels.RegisterViewModel

@{
    /**/

    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Site.css")" />
<div class="container">
    <img id="image" src="~/Images/banner5.jpg" style="width: 100%; height: 500px" />
    <div class="text-block" style="width: 22%;">

        <div class="container1">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3 style="align-content: center">Sign In</h3>
                        <!--<div class="d-flex justify-content-end social_icon">
                            <span><i class="fab fa-facebook-square"></i></span>
                            <span><i class="fab fa-google-plus-square"></i></span>
                            <span><i class="fab fa-twitter-square"></i></span>
                        </div>-->
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <form>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>

                                    @Html.EditorFor(register => register.EmailAdd, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                                    @Html.ValidationMessageFor(register => register.EmailAdd, "", new { @class = "text-danger" })


                                </div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    @Html.EditorFor(register => register.Password, new { htmlAttributes = new { @class = "form-control", type="password", placeholder = "Password" } })
                                    @Html.ValidationMessageFor(register => register.Password, "", new { @class = "text-danger" })
                                    <!--<input type="password" class="form-control" placeholder="Password">-->
                                </div>
                                <div class="row align-items-center remember">
                                    <input type="checkbox">Remember Me
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Login" class="btn float-right login_btn">
                                </div>
                            </form>
                        }
                        <br />
                        <span class="btn-danger">@ViewBag.Error</span>
                        <br />
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center links">
                            Don't have an account?<a href="#">Sign Up</a>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="#">Forgot your password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {

        console.log('holi');
        var images = new Array();
        for (var i = 1; i < 6; i++) {
            images.push("@Url.Content("~/Images/banner")" + i + ".jpg");
        }
        var x = 1;

        function changeImage() {
            $('#image').attr('src', images[x]);
            if (x < 6) {
                x += 1;
            } else {
                x = 1;
            }
        }

        setInterval(function () {
            changeImage();
        }, 5000);
        /*
        window.onload = function () {
            setInterval(function () {
                changeImage();
            }, 1000);
        }
        */
        console.log(images);

       });
</script>

